
.query-area {padding:3px 0;}
.query-row {display:flex;}
.query-title {width:120px; line-height:48px; padding-right:10px; text-align:right}
.query-input {width:250px; display:flex; align-items:center;}

