html, body {

    height: 100%;
    margin: 0;
}

.search {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li {
    white-space: nowrap;
    overflow: hidden;
}

.textarea {
    width: 500px;
    display: block;
    margin-bottom: 10px;
    font-size: large;
}