<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/element-ui.min.css">
</head>

<body>
<div id="app" class="search" style="display: none">
    <div style="text-align: center">
        <el-link type="primary" style="font-size: large">搜索结果详情</el-link>
    </div>

    <el-table height="550"
              :data="article"
              style="width: 100%">
        <el-table-column
                prop="title"
                label="标题" min-width="100px"
        >
        </el-table-column>
        <el-table-column
                prop="sellPoint"
                label="卖点" min-width="100px">
        </el-table-column>
        <el-table-column
                prop="price" width="100px"
                label="价格">
        </el-table-column>
    </el-table>

</div>
</body>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>
<script>
    var store = {
        article: [],
        keyword: ""

    };
    var app = new Vue({
        el: '#app',
        data: store,
        created: function () {
            $("#app").show();
            this.query();


        },
        mounted: function () {

        },
        methods: {
            highlight: function () {
                var oBox = $("table")[1];
                var oContent = oBox.innerHTML;
                var val = this.keyword;
                var findText = oContent.split(val);
                oBox.innerHTML = findText.join('<span style="color:red;">' + val + '</span> ');
            },
            query: function () {
                var vueThis = this;
                $.ajax({
                    type: "post",
                    contentType: "application/json;charset=utf-8",
                    url: "/detaillist",
                    success: function (data) {
                        vueThis.article = data.data;
                        console.log(data.data);
                        vueThis.keyword = data.msg;
                        //这儿必须延迟1秒执行,不然空白
                        setTimeout(function () {
                            vueThis.highlight()
                        }, 100)
                    }
                });
            }
        }
    })


</script>
</html>