<!DOCTYPE html>
<html>
<head>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/element-ui.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        .search {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
<div id="app" class="search">
    <el-input style="width:50%" v-model.trim="keyword"></el-input>
    <el-button @click="toSearch">{{message}}</el-button>
</div>
</body>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>

<script>
    var store = {visible: false, message: 'hello world', keyword: ""};
    var app = new Vue({
        el: '#app',
        data: store,
        methods: {
            toSearch: function () {
                $.ajax({
                    url: "/search", data: {keyword:store.keyword}, success: function () {
                    }
                });
            }
        }

    })

</script>
</html>