<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/element-ui.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/my-select.css">
    <style>
        html, body {

            height: 100%;
            margin: 0;
        }

        .search {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .li {
            white-space: nowrap;
            overflow: hidden;
        }

        .textarea {
            width: 500px;
            display: block;
            margin-bottom: 10px;
            font-size: large;
        }

    </style>
</head>
<body>
<div id="app" class="search" style="display: none">
    <div @click="toggle" @keyup.enter="toDetails(store.keyword)">
        <!--notePlaceholder考虑动态变化,比如,小知识,小技巧,温馨的话,历史事件之类的,不要固定死-->
        <el-input type="textarea" autosize :placeholder="store.notePlaceholder" class="textarea" v-model="store.note"
                  :style="{display:isSee}"
        ></el-input>
        <!--notePlaceholder考虑动态变化,比如,小知识,小技巧,温馨的话,历史事件之类的,不要固定死,输入框也考虑动态加点东西,根据用户习惯,几秒滚动哈,用placeholder实现-->
        <el-input autofocus  id="el-input" style="width: 500px;"
                  @input="searchItem(store.keyword)"
                  placeholder="搜你想要"
                  v-model="store.keyword">
        </el-input>
        <ul style="position: absolute;overflow-y: auto;overflow-x: hidden;width:500px;height:250px;" v-show="isShow">
            <li @click="upScreen(item.title)" v-for="item in store.article" :value="item.id"
                :style="{width : width +'px',height:height +'px'}" th:class="li">
                {{item.title}}
            </li>
        </ul>
    </div>

</div>
</body>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>
<script src="/js/my-select.js" type="text/javascript"></script>

<script>
    //利用原生Js获取操作系统版本
    function getOS() {
        var sUserAgent = navigator.userAgent;
        var isWin = (navigator.platform == "Win32") || (navigator.platform == "Windows");
        var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");
        if (isMac) return "Mac";
        var isUnix = (navigator.platform == "X11") && !isWin && !isMac;
        if (isUnix) return "Unix";
        var isLinux = (String(navigator.platform).indexOf("Linux") > -1);
        if (isLinux) return "Linux";
        if (isWin) {
            var isWin2K = sUserAgent.indexOf("Windows NT 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;
            if (isWin2K) return "Win2000";
            var isWinXP = sUserAgent.indexOf("Windows NT 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1;
            if (isWinXP) return "WinXP";
            var isWin2003 = sUserAgent.indexOf("Windows NT 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;
            if (isWin2003) return "Win2003";
            var isWinVista = sUserAgent.indexOf("Windows NT 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;
            if (isWinVista) return "WinVista";
            var isWin7 = sUserAgent.indexOf("Windows NT 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;
            if (isWin7) return "Win7";
            var isWin10 = sUserAgent.indexOf("Windows NT 10") > -1 || sUserAgent.indexOf("Windows 10") > -1;
            if (isWin10) return "Win10";
        }
        return "other";
    }


    function getBrowserInfo() {
        var agent = navigator.userAgent.toLowerCase();
        console.log(agent);
        var arr = [];
        var system = getOS();
        arr.push(system);
        var regStr_edge = /edge\/[\d.]+/gi;
        var regStr_ie = /trident\/[\d.]+/gi;
        var regStr_ff = /firefox\/[\d.]+/gi;
        var regStr_chrome = /chrome\/[\d.]+/gi;
        var regStr_saf = /safari\/[\d.]+/gi;
        var regStr_opera = /opr\/[\d.]+/gi;
        //IE
        if (agent.indexOf("trident") > 0) {
            arr.push(agent.match(regStr_ie)[0].split('/')[0]);
            arr.push(agent.match(regStr_ie)[0].split('/')[1]);
            return arr;
        }
        //Edge
        if (agent.indexOf('edge') > 0) {
            arr.push(agent.match(regStr_edge)[0].split('/')[0]);
            arr.push(agent.match(regStr_edge)[0].split('/')[1]);
            return arr;
        }
        //firefox
        if (agent.indexOf("firefox") > 0) {
            arr.push(agent.match(regStr_ff)[0].split('/')[0]);
            arr.push(agent.match(regStr_ff)[0].split('/')[1]);
            return arr;
        }
        //Opera
        if (agent.indexOf("opr") > 0) {
            arr.push(agent.match(regStr_opera)[0].split('/')[0]);
            arr.push(agent.match(regStr_opera)[0].split('/')[1]);
            return arr;
        }
        //Safari
        if (agent.indexOf("safari") > 0 && agent.indexOf("chrome") < 0) {
            arr.push(agent.match(regStr_saf)[0].split('/')[0]);
            arr.push(agent.match(regStr_saf)[0].split('/')[1]);
            return arr;
        }
        //Chrome
        if (agent.indexOf("chrome") > 0) {
            arr.push(agent.match(regStr_chrome)[0].split('/')[0]);
            arr.push(agent.match(regStr_chrome)[0].split('/')[1]);
            return arr;
        } else {
            arr.push('请更换主流浏览器，例如chrome,firefox,opera,safari,IE,Edge!')
            return arr;
        }
    }


    function getLocation(cb) {
        var data = {key: "4MIBZ-LJMCF-6RKJA-NGKN4-JJZFF-2JBMJ"};//ip缺省时会自动获取请求端的公网IP,
        var url = "https://apis.map.qq.com/ws/location/v1/ip";
        data.output = "jsonp";
        $.ajax({
            type: "get",
            dataType: 'jsonp',
            data: data,
            jsonp: "callback",
            url: url,
            success: function (json) {
                array = new Array;
                array.push(json.result.ip);//公网IP
                array.push(json.result.ad_info.province + json.result.ad_info.city + json.result.ad_info.district);//省市区
                array.push(json.result.location.lat);//经度
                array.push(json.result.location.lng);//纬度
                cb(array)//回调函数
            },
            error: function (err) {

            }
        });
    }

    function cb(result) {
        getUserIP(function (localIp) {
            app.toDetail(store.keyword, result, localIp)
        })
    }

    function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
        //compatibility for firefox and chrome
        var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var pc = new myPeerConnection({
                iceServers: []
            }),
            noop = function () {
            },
            localIPs = {},
            ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
            key;

        function iterateIP(ip) {
            if (!localIPs[ip]) onNewIP(ip);
            localIPs[ip] = true;
        }

        //create a bogus data channel
        pc.createDataChannel("");

        // create offer and set local description
        pc.createOffer().then(function (sdp) {
            sdp.sdp.split('\n').forEach(function (line) {
                if (line.indexOf('candidate') < 0) return;
                line.match(ipRegex).forEach(iterateIP);
            });

            pc.setLocalDescription(sdp, noop, noop);
        }).catch(function (reason) {
            // An error occurred, so handle the failure to connect
        });

        //sten for candidate events
        pc.onicecandidate = function (ice) {
            if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
            ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
        };
    }


    function pcOrPhone() {
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            return "移动端"
        } else {
            return "pc端"
        }
    }

    var store = {
        notePlaceholder: "写点什么吧～～",
        note: "",
        isSee: 'none',
        visible: false,
        width: 0,
        height: 40,
        message: 'AISearch',
        keyword: "",
        isShow: false,
        article: []
    };
    var app = new Vue({
        el: '#app',
        data: store,
        created: function () {
            $("#app").show();
            this.width = $("#el-input").width();
        },
        methods: {
            //enter或者button激发,用于记录用户上下文
            toDetails: function (keyword) {
                var isCommand = keyword.startsWith('/');
                if (isCommand) {
                    window.location.href = keyword.substring(1);
                } else {
                    var isNote = keyword.startsWith('\"');
                    var isEnd = keyword.endsWith('\"\n');
                    if (isNote && !isEnd) {
                    } else if (isNote && isEnd) {
                        getLocation(cb)
                    } else {
                        getLocation(cb);//toDetail()
                    }
                    if (keyword.substring(end) == ":end\n") {
                        getLocation(cb);//toDetail()
                    }
                }
            },
            toDetail: function (keyword, location, localIp) {
                if (keyword != "") {
                    var isNote = keyword.startsWith('\"');
                    var isEnd = keyword.endsWith('\"\n');
                    var end = keyword.lastIndexOf('\"\n');
                    if (isNote) {
                        store.isSee = "block";
                    }
                    if (isNote && isEnd) {
                        $.ajax({
                            type: "post",
                            contentType: "application/json",
                            url: "/note",
                            data: JSON.stringify({
                                "keyword": keyword.substring(1, end),
                                "location": location,
                                "browserInfo": getBrowserInfo(),
                                "pcOrPhone": pcOrPhone(),
                                "localIp": localIp
                            }),
                            success: function (data) {
                                if (store.note == "") {
                                    store.note = '"'.concat(data).concat('"').concat("---").concat(new Date().toLocaleString());
                                } else {
                                    store.note += "\n".concat('"').concat(data).concat('"').concat("---").concat(new Date().toLocaleString());
                                }
                                store.keyword = "";
                            }
                        });
                    } else {
                        $.ajax({
                            type: "post",
                            contentType: "application/json;charset=utf-8",
                            url: "/todetail",
                            data: JSON.stringify({
                                "keyword": keyword,
                                "location": location,
                                "browserInfo": getBrowserInfo(),
                                "pcOrPhone": pcOrPhone(),
                                "localIp": localIp
                            }),
                            success: function (data) {
                                window.location.href = "detail";
                            }
                        });
                    }
                }
            },

            searchItem: function (keyword) {
                $.ajax({
                    url: "/searchItem", data: {keyword: keyword}, success: function (data) {
                        store.article = [];
                        for (var i = 0; i < data.length; i++) {
                            store.article.push(data[i]);
                        }
                    }
                })
               /* var isNote = keyword.startsWith('\"');
                this.isShow = true;
                var isCommand = keyword.startsWith('/');
                if (isCommand) {

                } else if (isNote) {
                    store.isSee = "block";
                } else if (keyword == "") {
                    store.isSee = "none";
                } else {
                    $.ajax({
                        url: "/searchItem", data: {keyword: keyword}, success: function (data) {
                            store.article = [];
                            for (var i = 0; i < data.length; i++) {
                                store.article.push(data[i]);
                            }
                        }
                    })
                }*/
            },
            toggle: function () {
                this.isShow = !this.isShow;
            },
            blur: function () {
                this.isShow = false;
            },

            upScreen: function (label) {
                store.keyword = label;
            },

        }

    })

</script>
</html>