<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/element-ui.min.css">
    <style>
        /*输入框水平居中*/
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div id="app" style="display: none">
    <!--便签内容框放在最顶部,可清空,可无限扩展-->
    <el-input type="textarea" autosize :placeholder="store.notePlaceholder" class="textarea" v-model="store.note"
              :style="{display:isSee}"
    ></el-input>
    <div class="center" @keyup.enter="enter(store.keyword)">
        <el-input autofocus id="el-input" style="width: 500px;"
                  @input="input(store.keyword)"
                  v-model="store.keyword">
        </el-input>
    </div>

</div>
</body>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>
<script>
    var store = {
        /*模式*/
        pattern: "",
        /*便签的默认提示*/
        notePlaceholder: "写点什么吧～～",
        /*便签内容*/
        note: "",
        /*便签是否可见*/
        isSee: 'none',
        /*输入框内容*/
        keyword: "",
    };
    var app = new Vue({
        el: '#app',
        data: store,
        created: function () {
            $("#app").show();
        },
        methods: {
            //enter激发
            enter: function (keyword) {
                if (keyword != "") {
                    var isForward = keyword.startsWith('/');
                    /*1.转发模式*/
                    if (isForward) {
                        window.location.href = keyword.substring(1);
                    } else {
                        this.other(keyword);
                    }
                }
            },
            /*由enter()调用,非转发模式*/
            other: function (keyword) {
                var isNote = keyword.startsWith("'");
                var isCommand = keyword.startsWith(":")
                /*2.便签模式*/
                if (isNote) {
                    if (keyword.substring(1) == "clear ") {
                        store.note = "";
                        store.keyword = "'";
                    } else {
                        $.ajax({
                            type: "post",
                            contentType: "application/json",
                            url: "/note",
                            data: JSON.stringify({
                                "content": keyword.substring(1)
                            }),
                            success: function (data) {
                                if (data.status == 0) {
                                    if (store.note == "") {
                                        store.note = data.data.concat("---").concat(new Date().toLocaleString());
                                    } else {
                                        store.note += "\n".concat(data.data).concat("---").concat(new Date().toLocaleString());
                                    }
                                    store.keyword = "'";
                                }
                            }
                        });
                    }
                    /*3.命令模式*/
                } else if (isCommand) {
                    var index = keyword.indexOf(" ");
                    if (index != -1) {
                        var command = keyword.substring(1, index + 1);
                        var isEnd = keyword.lastIndexOf(" ");
                        /*退出功能*/
                        if (isEnd + 1 == keyword.length) {
                            store.pattern = ":" + command;
                            if (store.pattern == ":logout ") {
                                window.location.href = "/logout";
                            } else if ((store.pattern == ":clear ")) {
                                store.note = "";
                            }
                        }
                    }
                    /*正常搜索*/
                } else {
                    $.ajax({
                        type: "post",
                        contentType: "application/json;charset=utf-8",
                        url: "/todetail",
                        data: JSON.stringify({
                            "keyword": keyword
                        }),
                        success: function (data) {
                            window.location.href = "detail";
                        }
                    });
                }
            },
            /*输入触发*/
            input: function (keyword) {
                /*是否"开头*/
                var isNote = keyword.startsWith("'");
                /*是否/开头*/
                var isForward = keyword.startsWith('/');
                /*是否:开头*/
                var isCommand = keyword.startsWith(':');
                /*开启转发模式,什么都不做,不向后台提交数据*/
                if (isForward) {
                    /*开启命令模式*/
                } else if (isCommand) {
                    var index = keyword.indexOf(" ");
                    if (index != -1) {
                        var command = keyword.substring(1, index + 1);
                        var title = keyword.substring(index + 1);
                        var end = keyword.lastIndexOf(" ");
                        if (end + 1 == keyword.length) {
                            store.pattern = ":" + command;
                            if (title != "") {
                                this.isShow = true;
                                $.ajax({
                                    url: "/command",
                                    data: {keyword: keyword.substring(1, keyword.length - 1)},
                                    success: function (data) {
                                        store.article = [];
                                        for (var i = 0; i < data.length; i++) {
                                            store.article.push(data[i]);
                                        }
                                    }
                                });
                            }
                        }
                    }
                    /*开启便签模式*/
                } else if (isNote) {
                    store.isSee = "block";
                    /*关闭便签模式*/
                } else if (keyword == "") {
                    store.isSee = "none";
                    store.article = [];
                    /*正常模式,提交关键字到后台查询*/
                } else {
                    this.isShow = true;
                    $.ajax({
                        url: "/searchItem", data: {keyword: keyword}, success: function (data) {
                            store.article = [];
                            for (var i = 0; i < data.length; i++) {
                                store.article.push(data[i]);
                            }
                        }
                    })
                }
            },

        }
    })
</script>
</html>