<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/element-ui.min.css">
    <style>
        /*登录框水平居中*/
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div id="app" style="display: none">
    <div @keyup.enter="login" style="width: 300px" class="center">
        <el-form :model="store.user" label-width="80px" :label-position="labelPosition">
            <el-form-item label="用户名">
                <el-input style="width: 200px" autofocus v-model="store.user.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input style="width: 200px" autofocus type="password" v-model="store.user.password"></el-input>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>
<script src="/js/my-login.js" type="text/javascript"></script>
<script>
    var store = {
        labelPosition: 'right',
        user: {username: "", password: ""},
    };
    var app = new Vue({
        el: '#app',
        data: store,
        created: function () {
            $("#app").show();
        },
        methods: {
            login: function () {
                getLocation(cb);
            },
            tologin: function (user, location, localIp) {
                var vueThis = this;
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    url: "/tologin",
                    data: JSON.stringify({
                        "user": user,
                        "location": location,
                        "browserInfo": getBrowserInfo(),
                        "pcOrPhone": pcOrPhone(),
                        "localIp": localIp
                    }),
                    success: function (data) {
                        if (data == "success") {
                            window.location.href = "/index";
                        } else {
                            vueThis.$message(data);
                        }
                    }
                })
            }
        }
    })
</script>
</html>