<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="/editor.md-master/css/editormd.min.css" />
    <script src="js/jquery.min.js"></script>
    <script src="/editor.md-master/editormd.min.js"></script>
</head>
<body>
<div id="layout">
    <header>
        <h1>标题</h1>
    </header>
    <div class="editormd" id="title">
        <textarea class="editormd-markdown-textarea" name="title"></textarea>
        <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
        <textarea class="editormd-html-textarea" name="title"></textarea>
    </div>
    <header>
        <h1>正文</h1>
    </header>
    <div class="editormd" id="test-editormd">
        <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
        <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
        <textarea class="editormd-html-textarea" name="text"></textarea>
    </div>

    <button onclick="save()">保存</button>
</div>
<script type="text/javascript">

    $(function() {
        editormd("test-editormd", {
            width : "90%",
            height : 640,
            syncScrolling : "single",
            //你的lib目录的路径，和你引入js,css路径一样
            path    : "/editor.md-master/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea : true,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/upload/image"
        });
    });
    $(function() {
        editormd("title", {
            width : "90%",
            height : 640,
            syncScrolling : "single",
            //你的lib目录的路径，和你引入js,css路径一样
            path    : "/editor.md-master/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea : true,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/upload/image"
        });
    });
    
    function save() {
        var title = $("textarea[name='title']").val();
        var content = $("textarea[name='test-editormd-markdown-doc']").val();
        $.ajax({
            type: 'post',
            url: "/savemarkdown",
            contentType:"application/json",
            data: JSON.stringify({"title": title, "content": content}),
            success:function (data) {
                alert(data)
            }
        });
    }



</script>
</body>
</html>