<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>MarkDown编辑器</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="/editor.md-master/css/editormd.min.css" />
    <link rel="stylesheet" href="/css/element-ui.min.css">
</head>
<body>
<div id="app" style="display: none">
<div id="layout">
    <header>
        <div style="text-align: center">
        <h3>标题</h3>
        </div>
    </header>
    <div class="editormd" id="title">
        <textarea class="editormd-markdown-textarea" name="title"></textarea>
        <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
        <textarea class="editormd-html-textarea" name="title"></textarea>
    </div>
    <header>
        <div style="text-align: center">
        <h3>正文</h3>
        </div>
    </header>
    <div class="editormd" id="test-editormd">
        <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
        <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
        <textarea class="editormd-html-textarea" name="text"></textarea>
    </div>

    <div style="text-align: center">
        <el-button @click="save">保存</el-button>
    </div>
</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>
<script src="/editor.md-master/editormd.min.js"></script>
<script type="text/javascript">

    $(function() {
        editormd("test-editormd", {
            width : "90%",
            height : 640,
            syncScrolling : "single",
            //你的lib目录的路径，和你引入js,css路径一样
            path    : "/editor.md-master/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea : true,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/upload/image"
        });
    });
    $(function() {
        editormd("title", {
            width : "90%",
            height : 200,
            syncScrolling : "single",
            //你的lib目录的路径，和你引入js,css路径一样
            path    : "/editor.md-master/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea : true,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/upload/image"
        });
    });

    var store = {
    };
    var app = new Vue({
        el: '#app',
        data: store,
        created: function () {
            $("#app").show();
        },
        methods: {
            save: function () {
                var title = $("textarea[name='title']").val();
                var content = $("textarea[name='test-editormd-markdown-doc']").val();
                var vueThis = this;
                if (title != "" && content != "") {
                    $.ajax({
                        type: 'post',
                        url: "/savemarkdown",
                        contentType:"application/json",
                        data: JSON.stringify({"title": title, "content": content}),
                        success:function (data) {
                            vueThis.$message(data);
                        }
                    });
                }
            }
        }
    })
</script>
</body>
</html>