<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/element-ui.min.css">
    <style>
        /*注册框水平居中*/
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div id="app" style="display: none">
    <!--注册框-->
    <div @keyup.enter="regist" style="width: 300px" class="center">
        <el-form  :rules="rules" :model="store.user" label-width="80px" :label-position="labelPosition">
            <el-form-item prop="username" label="用户名">
                <el-input  @input="validateUsername" style="width: 200px" placeholder="注册" autofocus v-model="store.user.username"></el-input>
            </el-form-item>
            <el-form-item prop="password" label="密码">
                <el-input   style="width: 200px" autofocus type="password" v-model="store.user.password"></el-input>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>
<script src="/js/my-regist.js" type="text/javascript"></script>
<script>
    var store = {
        labelPosition: 'right',
        user: {username: "", password: ""},
        rules: {
            username:{ required: true, message: '用户名不能为空', trigger: 'blur' },
            password:{ required: true, message: '密码不能为空', trigger: 'blur' }
        }
    };
    var app = new Vue({
        el: '#app',
        data: store,
        created: function () {
            $("#app").show();
        },
        methods: {
            regist: function () {
                getLocation(cb);
            },
            validateUsername:function () {
               $ajax({
                   url:"validateUsername",
                   data: JSON.stringify({
                       "username": user.username,
                   }),
                   success: function (data) {
                       if (data.status == 0) {

                       } else {

                       }
                   }
               })
            },
            toregist: function (user, location, localIp) {
                if (user.username != "" && user.password != "") {
                    var vueThis = this;
                    $.ajax({
                        type: "post",
                        contentType: "application/json",
                        url: "/toregist",
                        data: JSON.stringify({
                            "user": user,
                            "location": location,
                            "browserInfo": getBrowserInfo(),
                            "pcOrPhone": pcOrPhone(),
                            "localIp": localIp
                        }),
                        success: function (data) {
                            if (data.msg == "success") {
                                window.location.href = data.url;
                            } else {
                                vueThis.$message({
                                    showClose: true,
                                    message: data.msg,
                                    type: 'error',
                                    duration:0
                                });
                            }
                        }
                    })
                }
            }
        }
    })
</script>
</html>