<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.zjj.aisearch.mapper.IndexMapper">


    <select id="index" resultType="com.zjj.aisearch.model.User">
        select * from users where username = 'zjj'
    </select>
    
    <insert id="insertSearchRecord" parameterType="com.zjj.aisearch.model.SearchRecord">
         insert into searchrecord(keyword,searchtime) values(#{keyword},#{searchTime})
    </insert>


   <!-- <insert id="insertArticle" parameterType="com.zjj.aisearch.model.Article">
        insert into jianshu_article(title, content, createtime) values(#{title},#{content},#{createTime})
    </insert>-->
    <!--<insert id="insertArticle" parameterType="com.zjj.aisearch.model.Article">
        insert into bky_article(title, content, createtime) values(#{title},#{content},#{createTime})
    </insert>-->
    <insert id="insertArticle" parameterType="com.zjj.aisearch.model.Article">
        insert into db_article(title, content, createtime) values(#{title},#{content},#{createTime})
    </insert>
    <insert id="insertZhihuArticle" parameterType="com.zjj.aisearch.model.ZhihuArticle">
        insert into zhihu_article(answer, question,question_info, createtime) values(#{answer},#{question},#{questionInfo},#{createTime})
    </insert>

</mapper>