<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjj.aisearch.mapper.IndexMapper">
    <!--商品表结果集-->
    <resultMap id="itemMap" type="Item">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="sellPoint" column="sell_point"/>
        <result property="price" column="price"/>
    </resultMap>

    <resultMap id="searchRecordLocation" type="SearchRecordLocation">
        <id property="id" column="id"></id>
        <result property="keyword" column="keyword"></result>
        <result property="searchTime" column="searchtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="pcOrPhone"></result>
            <result property="localIp" column="local_ip"></result>
        </association>
        <association property="browserInfo" javaType="BrowserInfo">
            <result property="system" column="system"></result>
            <result property="browserType" column="browser_type"></result>
            <result property="browserVersion" column="browser_version"></result>
        </association>
    </resultMap>
    <!--便签记录详情-->
    <resultMap id="aiNoteLocation" type="AiNoteLocation">
        <id property="id" column="id"></id>
        <result property="content" column="content"></result>
        <result property="createtime" column="createtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="pcOrPhone"></result>
            <result property="localIp" column="local_ip"></result>
        </association>
        <association property="browserInfo" javaType="BrowserInfo">
            <result property="system" column="system"></result>
            <result property="browserType" column="browser_type"></result>
            <result property="browserVersion" column="browser_version"></result>
        </association>
        <association property="user" javaType="User">
            <result property="id" column="uid"></result>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
        </association>
    </resultMap>
    <!--登录日志-->

    <resultMap id="loginLogLocation" type="LoginLogLocation">
        <id property="id" column="id"></id>
        <result property="createtime" column="createtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="pcOrPhone"></result>
            <result property="localIp" column="local_ip"></result>
        </association>
        <association property="browserInfo" javaType="BrowserInfo">
            <result property="system" column="system"></result>
            <result property="browserType" column="browser_type"></result>
            <result property="browserVersion" column="browser_version"></result>
        </association>
        <association property="user" javaType="User">
            <result property="id" column="uid"></result>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
        </association>
    </resultMap>
    <!--退出日志-->

    <resultMap id="logoutLogLocation" type="LogoutLogLocation">
        <id property="id" column="id"></id>
        <result property="createtime" column="createtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="pcOrPhone"></result>
            <result property="localIp" column="local_ip"></result>
        </association>
        <association property="browserInfo" javaType="BrowserInfo">
            <result property="system" column="system"></result>
            <result property="browserType" column="browser_type"></result>
            <result property="browserVersion" column="browser_version"></result>
        </association>
        <association property="user" javaType="User">
            <result property="id" column="uid"></result>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
        </association>
    </resultMap>
    <!--注册用户详情-->
    <resultMap id="userLocation" type="UserLocation">
        <id property="id" column="id"></id>
        <result property="username" column="user"></result>
        <result property="password" column="password"></result>
        <result property="createtime" column="createtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="pcOrPhone"></result>
            <result property="localIp" column="local_ip"></result>
        </association>
        <association property="browserInfo" javaType="BrowserInfo">
            <result property="system" column="system"></result>
            <result property="browserType" column="browser_type"></result>
            <result property="browserVersion" column="browser_version"></result>
        </association>
    </resultMap>
    <!--系统操作日志详情-->
    <resultMap id="systemLogList" type="SystemLogList">
        <id property="id" column="id"></id>
        <result property="operation" column="operation"></result>
        <result property="createtime" column="createtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="pcOrPhone"></result>
            <result property="localIp" column="local_ip"></result>
        </association>
        <association property="browserInfo" javaType="BrowserInfo">
            <result property="system" column="system"></result>
            <result property="browserType" column="browser_type"></result>
            <result property="browserVersion" column="browser_version"></result>
        </association>
        <association property="user" javaType="User">
            <result property="id" column="uid"></result>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
        </association>
    </resultMap>


    <!--插入-->
    <!--插入搜索记录-->
    <insert id="insertSearchRecord" parameterType="SearchRecord">
         insert into searchrecord(keyword,searchtime,location_id,browser_info_id) values(#{keyword},#{searchTime},#{locationId},#{browserInfoId})
    </insert>
    <!--注册用户-->
    <insert id="insertUser" parameterType="User">
         insert into user(username,password,createtime,location_id,browser_info_id) values(#{username},#{password},#{createtime},#{locationId},#{browserInfoId})
    </insert>
    <!--插入便签记录-->
    <insert id="insertAiNote" parameterType="AiNote">
         insert into ai_note(content,createtime,location_id,browser_info_id,login_log_id) values(#{content},#{createtime},#{locationId},#{browserInfoId},#{loginLogId})
    </insert>
    <!--插入浏览器相关信息-->
    <insert id="insertBrowserInfo" parameterType="BrowserInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey keyProperty="browserInfoId" resultType="String" order="BEFORE">
            select uuid()
        </selectKey>
        insert into browser_info(browser_info_id, system, browser_type, browser_version)
        values(#{browserInfoId},#{system},#{browserType},#{browserVersion})
    </insert>
    <!--插入位置信息+设备信息-->
    <insert id="insertLocation" parameterType="Location" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey keyProperty="locationId" resultType="String" order="BEFORE">
            select uuid()
        </selectKey>
        insert into location(location_id, ip, location, X, Y,keyword,local_ip)
        values(#{locationId},#{ip},#{location},#{X},#{Y},#{keyword},#{localIp})
    </insert>
    <!--插入登录日志-->
    <insert id="insertLoginLog" parameterType="LoginLog">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select @@IDENTITY as id
        </selectKey>
        insert into login_log(user_id,createtime,location_id,browser_info_id)
        values(#{userId},#{createtime},#{locationId},#{browserInfoId})
    </insert>
    <!--插入退出日志-->
    <insert id="insertLogoutLog" parameterType="LogoutLog">
         insert into logout_log(user_id,createtime,location_id,browser_info_id) values(#{userId},#{createtime},#{locationId},#{browserInfoId})
    </insert>
    <!--插入系统日志-->
    <insert id="insertSystemLog" parameterType="SystemLog">
         insert into ai_system_log(login_log_id,createtime,operation) values(#{loginLogId},#{createtime},#{operation})
    </insert>


    <!--查询-->
    <select id="search" resultType="Article">
        select * from article where id =  #{id}
    </select>


    <!--查询系统日志-->
    <select id="queryForm" resultType="SystemLogList">
        select * from ai_system_log where title like  "%"#{keyword}"%"
    </select>

    <!--查询用户通过用户名-->
    <select id="selectUserByUserName" resultType="User">
        select * from user where username =  #{username}
    </select>

        <!--查询商品详情-->
    <select id="searchItem" resultMap="itemMap">
        select * from tb_item where title like "%"#{name}"%"
    </select>
        <!--查询简书详情-->
    <select id="searchJianShuArticle" resultType="JianShuArticle">
        select * from jianshu_article where title like "%"#{name}"%"
    </select>
        <!--查询知乎详情-->
    <select id="searchZhiHuArticle" resultType="ZhiHuArticle">
        select * from zhihu_article where answer like "%"#{name}"%"
    </select>
        <!--查询csdn详情-->
    <select id="searchArticle" resultType="Article">
        select * from article where title like "%"#{name}"%"
    </select>

    <!--查询搜索记录详情-->
    <select id="selectSearchRecordLocation" resultMap="searchRecordLocation">
        select s.id,s.keyword,s.searchtime,l.ip,l.location,l.X,l.Y,l.keyword pcOrPhone,l.local_ip, b.system,b.browser_type,b.browser_version from `searchrecord` s
        left JOIN `location` l ON s.location_id = l.location_id left JOIN `browser_info` b ON b.browser_info_id = s.browser_info_id
    </select>
    <!--查询便签记录详情-->
    <select id="selectAiNoteLocation" resultMap="aiNoteLocation">
        select u.id uid,u.username,u.`password`, n.id,n.content,n.createtime,l.ip,l.location,l.X,l.Y,l.keyword pcOrPhone,l.local_ip, b.system,b.browser_type,b.browser_version from `ai_note` n
        left JOIN `location` l ON n.location_id = l.location_id left JOIN `browser_info` b ON b.browser_info_id = n.browser_info_id
        LEFT JOIN login_log ll ON n.login_log_id = ll.id
        LEFT JOIN  `user` u on u.id = ll.user_id
    </select>

    <!--查询注册用户详情-->
    <select id="selectUserLocation" resultMap="userLocation">
        select u.id,u.username,u.password,u.createtime,l.ip,l.location,l.X,l.Y,l.keyword pcOrPhone,l.local_ip, b.system,b.browser_type,b.browser_version from `user` u
        left JOIN `location` l ON u.location_id = l.location_id left JOIN `browser_info` b ON b.browser_info_id = u.browser_info_id
    </select>
    <!--查询登录日志详情-->
    <select id="selectLoginLogLocation" resultMap="loginLogLocation">
        select ll.id,ll.createtime,u.username,u.id uid,u.password,l.ip,l.location,l.X,l.Y,l.keyword pcOrPhone,l.local_ip, b.system,b.browser_type,b.browser_version from `login_log` ll
        left JOIN `location` l ON ll.location_id = l.location_id left JOIN `browser_info` b ON b.browser_info_id = ll.browser_info_id
        LEFT JOIN  `user` u on u.id = ll.user_id
    </select>
    <!--查询退出日志详情-->
    <select id="selectLogoutLogLocation" resultMap="logoutLogLocation">
  select ll.id,ll.createtime,u.username,u.id uid,u.password,l.ip,l.location,l.X,l.Y,l.keyword pcOrPhone,l.local_ip, b.system,b.browser_type,b.browser_version from `logout_log` ll
        left JOIN `location` l ON ll.location_id = l.location_id left JOIN `browser_info` b ON b.browser_info_id = ll.browser_info_id
        LEFT JOIN  `user` u on u.id = ll.user_id

    </select>
    <!--查询系统操作日志详情-->
    <select id="selectSystemLogList" resultMap="systemLogList">
  SELECT
	u.id uid,
	u.username,
	u.`password`,
	s.id,
	s.operation,
	s.createtime,
	b.browser_type,
	b.browser_version,
	b.system,
	l.ip,
	l.keyword,
	l.local_ip,
	l.location,
	l.X,
	l.Y
FROM
	ai_system_log s
LEFT JOIN login_log ll ON s.login_log_id = ll.id
LEFT JOIN browser_info b ON ll.browser_info_id = b.browser_info_id
LEFT JOIN location l ON l.location_id = ll.location_id
LEFT JOIN USER u ON u.id = ll.user_id
    </select>

</mapper>