<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjj.aisearch.mapper.IndexMapper">
    <resultMap id="itemMap" type="Item">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="sellPoint" column="sell_point"/>
        <result property="price" column="price"/>
    </resultMap>

    <resultMap id="searchRecordLocation" type="SearchRecordLocation">
        <id property="id" column="id"></id>
        <result property="keyword" column="keyword"></result>
        <result property="searchTime" column="searchtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="keyword2"></result>
        </association>
    </resultMap>

    <select id="index" resultType="User">
        select * from users where username = 'zjj'
    </select>

    <insert id="insertSearchRecord" parameterType="SearchRecord">
         insert into searchrecord(keyword,searchtime,location_id,browser_info_id) values(#{keyword},#{searchTime},#{locationId},#{browserInfoId})
    </insert>
    <insert id="insertBrowserInfo" parameterType="BrowserInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey keyProperty="browserInfoId" resultType="String" order="BEFORE">
            select uuid()
        </selectKey>
        insert into browser_info(browser_info_id, system, browser_type, browser_version)
        values(#{browserInfoId},#{system},#{browserType},#{browserVersion})
    </insert>
    <insert id="insertLocation" parameterType="Location" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey keyProperty="locationId" resultType="String" order="BEFORE">
            select uuid()
        </selectKey>
        insert into location(location_id, ip, location, X, Y) values(#{locationId},#{ip},#{location},#{X},#{Y})
    </insert>

    <select id="search" resultType="searchRecordLocation">
        select * from article where content =  #{keyword}
    </select>

    <select id="searchItem" resultMap="itemMap">
        select * from tb_item where title like "%"#{name}"%"
    </select>

    <select id="selectSearchRecordLocation" resultMap="searchRecordLocation">
        select s.id,s.keyword,s.searchtime,l.ip,l.location,l.X,l.Y,l.keyword keyword2 from `searchrecord` s

        left JOIN `location` l ON s.location_id = l.location_id
    </select>

</mapper>