<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjj.aisearch.mapper.QueryMapper">
    <!--系统操作日志详情-->
    <resultMap id="systemLogList" type="SystemLogList">
        <id property="id" column="id"></id>
        <result property="operation" column="operation"></result>
        <result property="createtime" column="createtime"></result>
        <association property="location" javaType="Location">
            <result property="X" column="X"></result>
            <result property="Y" column="Y"></result>
            <result property="location" column="location"></result>
            <result property="ip" column="ip"></result>
            <result property="keyword" column="pcOrPhone"></result>
            <result property="localIp" column="local_ip"></result>
        </association>
        <association property="browserInfo" javaType="BrowserInfo">
            <result property="system" column="system"></result>
            <result property="browserType" column="browser_type"></result>
            <result property="browserVersion" column="browser_version"></result>
        </association>
        <association property="user" javaType="User">
            <result property="id" column="uid"></result>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
        </association>
    </resultMap>
    <!--查询系统操作日志详情-->
    <select id="queryForm" resultMap="systemLogList">
        SELECT
        u.id uid,
        u.username,
        u.`password`,
        s.id,
        s.operation,
        s.createtime,
        b.browser_type,
        b.browser_version,
        b.system,
        l.ip,
        l.keyword,
        l.local_ip,
        l.location,
        l.X,
        l.Y
        FROM
        ai_system_log s
        LEFT JOIN login_log ll ON s.login_log_id = ll.id
        LEFT JOIN browser_info b ON ll.browser_info_id = b.browser_info_id
        LEFT JOIN location l ON l.location_id = ll.location_id
        LEFT JOIN USER u ON u.id = ll.user_id
        <where>
            <if test="keyword != ''">
                operation like "%"#{keyword}"%"
            </if>
            <if test="location != ''">
                and location like "%"#{location}"%"
            </if>
            <if test="system != ''">
                and system  = #{system}
            </if>
            <if test="createtime.length != 0">
                and s.createtime between #{createtime[0],javaType=STRING} and #{createtime[1],javaType=STRING}
            </if>
        </where>
    </select>
</mapper>