<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjj.aisearch.mapper.WriteMapper">

    <!--插入markdown-->
    <insert id="saveMarkDown" parameterType="MarkDown">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select @@IDENTITY as id
        </selectKey>
        insert into ai_markdown(title,content,createtime,login_log_id) values(#{title},#{content},#{createtime},#{loginLogId})
    </insert>
    <!--插入editor-->
    <insert id="saveEditor" parameterType="Editor">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select @@IDENTITY as id
        </selectKey>
        insert into ai_editor(title,content,createtime,login_log_id) values(#{title},#{content},#{createtime},#{loginLogId})
    </insert>
</mapper>